.container {
  background-color: #f9fbfe;
  height: 100vh;
  overflow: auto;
}
.box{
    padding: 50px;
}
.todos-heading {
  text-align: center;
  font-size: 46px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-task-heading {
  font-size: 32px;
  font-weight: 700;
}

.create-task-heading-subpart {
  
  font-size: 32px;
  font-weight: 500;
}
.todo-user-input {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    outline: none;
  }
  .add-todo-button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
  }

.todo-items-heading {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
}

.todo-items-heading-subpart {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500;
}

.todo-items-container {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.noTasks-container{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.noTasks-heading{
  color:#525252;
  font-weight: bold;
}
